<h1>Détails des Tasks</h1>
<p>task Name: <%= @task.name %></p>
<p>content : <%= @task.content %></p>
<p>Deadline: <%= @task.deadline %></p>
<p>Status: <%= @task.status %></p>

<%= link_to 'edit', edit_task_path %> |
<%= link_to 'back', tasks_path %>
